* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background-color: #d9dcd6;
}

.header {
    display: flex;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff; 
}

.header h1 {
    font-size: 35px;
    background-color: rgb(1, 52, 52);
    padding: 15px;
    margin-left: 0px;
}

.header div  {
    padding-top: 35px;
    font-size: 25px;
    
}

.header div ul li {
    display: inline-flex;
    margin-left: 25px; 
   
}

.cool {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
}
.cool h2 {
    text-align-last: auto;
    background-color: rgb(157, 226, 203);
    padding: 15px;
    color: rgb(5, 0, 0);
    text-align: right;
    margin-right: 30px;
    float: right;
}

content aside2 {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}
aside1 {
    flex: 1;
    padding: 20px;
    text-align: end;
    font-size: 150%;
    }

section-ab {
    flex: 3;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0c0b0b;
    font-size: 25px;
    border-left: 5px black;
}

aside2 {
    flex: 1;
    padding: 140px;
    font-size: 200%;
    border-right: 5px#0c0b0b;
}

.work img {
    padding: 40px;
    max-height: 20px;
    transform: scale(1.0, .5);
    float: right;
}

.footer {
    display: flex;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
}

.footer ul li {
    font-size: 30px;
    margin: 15px;
    display: inline-flex;
    margin-left: 75%;
}    